html,
body {
  margin: 0;
  padding: 0;
}

h4 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-left: 3px solid black;
  padding-left: 6px;
}

#about_body{
  width: 900px;
  margin:auto;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  font-family: Georgia, "Times New Roman", Times, serif;
}

#title {
  margin: 5% 0% 5% 0%;
  font-size: 3em;
  width: 40%;
  color: black;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  text-align: center;
  margin: 120px auto 80px auto;
}

#about {
  margin: 0.3em;
}

.top-image {
  width: 900px;
  height: 340px;
  object-fit: cover;
  border-radius: 20px; 
  object-position: 50% 45%;
}

.line-break {
  border-top: 4px solid black;
  margin: 64px auto;
  width: 30%;
}

.words {
  width: 600px;
  font-size: large;
}

.skew-box {
  transform: skewY(-17deg);
  display: flex;
  gap: 70px;
  transition: all 0.5s ease-in;
}

.tall-image {
  width: 250px;
  height: 800px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 80px;
}

.flip-card {
  background-color: transparent;
  width: 250px;
  height: 400px;
  transform: skewY(17deg);
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
  transition: all 1s ease-in;
}

.flip-image{
  width: 250px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  object-position: 50% 50%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  border-radius: 10px;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.code-words {
  margin: 40px 0px 0px 40px;
}

.code-section {
  float:right;
}

.below-code-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 40px;
}

.bottom-words {
  margin: 40px 0;
}

.photo-slide {
  display: flex;
  gap: 40px;
  width: 100%;
}

.slide-media {
  height: 200px;
  object-fit: cover;
  width: 95%;
  border-radius: 10px;
}

.slide-title {
  margin: auto;
  text-align: center;
  margin-top: 80px;
  font-size: 2em;
}

#slick {
  width: 102%;
}