* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: cornflowerblue;
  --secondary: #2f3da5;
  --background: aliceblue;
  --text: black;
  --hover: white;
}

/* navbar stuff */

.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: var(--secondary);
  height: 45px;
  width: 80px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.navbar:hover {
  height: 110px;
  transition: all 0.2s ease-in-out;
}

.page {
  background-color: var(--background);
}

.navbar ul {
  list-style: none
}

.navbar-nav {
  float: left;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 110px;
  width: inherit;
  flex-direction: column;
  background-color: var(--primary);
}

.nav-a {
  color: var(--text);
  text-decoration: none;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
}

.logo_item{
  padding-bottom: 10%;
  border-bottom: 3px solid black;
}

.nav-a:hover {
  color: var(--hover);
}

/* home page stuff */

#home {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: stretch;
}

#home-display {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  width: 50%
}

#display-title {
  margin: 5% 0% 10% 0%;
  font-size: 2em;
}

#display-top {
  display: flex;
  justify-content: space-around
}

#display-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin: 0% 20%;
  padding: 10% 0%;
}

.disp-link {
  height: 25%;
  margin: 5% 0%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  border-bottom: 3px solid var(--primary);
  font-size: 140%;
}

.disp-link .d-link {
  color: var(--text);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.disp-link .d-link:hover {
  padding-bottom: 5%;
  margin-top: 0%;
  color: var(--primary);
  transition: all 0.2s ease-in-out;
}

#box {
  width: 100%;
  background-color: var(--primary);
  height: 60px;
  border-radius: 5px 5px 25px 25px;
  border: 2px solid var(--secondary);
}


/* games stuff */
#games-background {
  background-color: var(--background);
}

#games_title {
    margin: 5%;
    font-size: 2em;
}

#games-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#games-display{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-top: 5px solid black;
  padding-top: 5%;
}

#games-display a {
  margin: 3%;
}

#games-display img {
  padding: 2%;
  border: 4px solid black;
}

.instructions {
  float: left;
  max-width: 20%
}

.game{
  margin-bottom: 3%;
}

.game h4{
  text-align: center;
  width: 400px;
  margin: 0 auto;
}